---
import "../../public/global.css";

export const socialMedia=[
    {
        name:'instagram',
        image:'./public/image/instagram-icon.svg',
        link:''
    },
    {
        name:'whatsapp',
        image:'./public/image/whatsapp-icon.svg',
        link:''
    },
    {
        name:'email',
        image:'./public/image/email-icon.svg',
        link:''
    }
]
const navegation=[
    {
        Text:'Portfolio',
        Link: '/portfolio'
    },
    {
        Text:'Service',
        Link: '/services'
    },
    {
        Text:'Booking',
        Link: '/booking'
    }
]
---
<nav class="w-full flex justify-center h-[130px]">
    <section class="flex items-center justify-evenly gap-72 max-w-[1920px]">
        <div class="flex gap-5">
            {
                socialMedia.map((data)=>{
                    return(
                        <img class="w-[43px] h-[43px]" src={data.image} alt={data.name}/>
                    )
                })
            }
        </div>
        <div class="flex flex-col items-center gap-3">
            <a href="/">
                <h2 class="text-4xl font-satisfy">Berbat Photos</h2>
            </a>
            <div class="flex justify-evenly gap-20">
                {
                    navegation.map((data)=>{
                        return(
                            <a href={data.Link}>
                                <button class="font-lora italic text-2xl">{data.Text}</button>
                            </a>
                        )
                    })
                }
            </div>
        </div>
        <div class=" flex justify-center items-center rounded-lg bg-gray-400 w-[223px] h-[46px]">
            <a href="/booking">
                <button class="font-lora italic text-lg">
                    book a section
                </button>
            </a>
        </div>
    </section>
</nav>
