---
import "../../public/global.css";

const socialMedia=[
    {
        name:'instagram',
        image:'',
        link:''
    },
    {
        name:'whatsapp',
        image:'',
        link:''
    },
    {
        name:'email',
        image:'',
        link:''
    }
]
const navegation=['Portfolio','Service','Booking']
---
<nav class="w-full h-[130px]">
    <div></div>
    <div></div>
    <div></div>
</nav>
