---
import NavigationDesktop from './navigationDesktop.astro';
import NavigationMobile from './navigationMobile.astro';
import NavigationTablet from './navigationTablet.astro';

const pageData = Astro.props
---
<nav 
    x-data
    class="w-full flex justify-center h-[62px] lg:h-[130px]"
    x-init="$store.display.setDisplay()"
    @resize.window.debounce="$store.display.setDisplay()"
>
    <template x-data x-if="$store.display.screen=='desktop'">
        <NavigationDesktop pageData={pageData}/>
    </template>
    <template x-data x-if="$store.display.screen=='tablet'">
        <NavigationTablet pageData={pageData}/>
    </template>
    <template x-data x-if="$store.display.screen=='mobile'">
        <NavigationMobile pageData={pageData}/>
    </template>
</nav>