---
import bagicon from '../../public/image/bag-shopping-solid.svg'
---
<div>   
    <img class="w-[20px] h-[24px] lg:w-[26px] lg:h-[30px] 2xl:w-[30px] 2xl:h-[34px]" src={bagicon.src} alt="shop-bag-icon">
</div>