---
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import "../../public/global.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
		<!-- <script type="module"src="/public/js/alpine.js" defer></script> -->
		<meta name="generator" content={Astro.generator} />
		<title>Berbat Photos</title>
		<ClientRouter />
	</head>
	<body class="bg-brighter2">
		<Navbar/>
		<slot />
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>